<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SuperHero APP</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>

    <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Busca tu superheroe favorito</h5>
          <form action="/buscarhero" method="post" class="formulario_busqueda" >
            <div class="mb-3">
              <input type="text" class="form-control" id="exampleInputPassword1" name="criterio_busqueda">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
          </form>
        </div>
      </div>
      <br>


<!-- SECCION DONDE APARECERA INFO DE SUPERHEROE -->
      <section class="resultado">

      </section>


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script src="{{url_for('static', filename='js/logic.js')}}"></script>


</body>
</html>